header {
  width: 100%;
  position: sticky;
  z-index: 10;
  left: 0%;
  top: 0%;
  & > .headInner {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 10px;
    & > div {
      padding: 0;
      border-radius: 10px;
    }
  }
}

.test {
  background: oklch(var(--nc));
  p {
    color: oklch(var(--n));
  }
}
