header {
  width: 100%;
  position: sticky;
  left: 0%;
  top: 0%;
  & > .headInner {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 20px;
    & > div {
      padding: 0;
    }
  }
}
