@use '../theme/theme' as *;
.mobHam {
  display: none;
  @include mobile {
    display: block;
  }
}
.mobAside {
  display: none;
  @include mobile {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 70%;
    z-index: 100;
    & > svg {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 25px;
      height: 25px;
    }
    ul {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

.dropdown {
  @include mobile {
    display: none;
  }
}
