form:has(.searchInput) {
  position: relative;
  .searchInput {
    padding-left: 60px;
  }
  span {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.search_sec {
  // margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
