#view.ql-snow {
  cursor: default;
  & * {
    cursor: default;
    line-height: 1.5;
    margin: 5px 0;
  }
  .ql-editor {
    padding: 0;
    h1,h2,h3,h4{
      font-weight: 600;
    }
    ul {
      list-style: initial;
      list-style-position: inside;
    }
    ol {
      list-style: auto;
      list-style-position: inside;
    }
    pre {
      font-family: 'Source Code Pro', monospace;
      // background-color: oklch(var(--b3));
      padding: 10px 14px;
      // color: oklch(var(--bc))
    }
    blockquote {
      margin: 0;
      border-color: oklch(var(--a));
    }
  }
}
