#write_sec {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input.titleInput {
      font-size: 30px;
      width: 100%;
      border: none;
      outline: none;
      &:focus {
        outline: none;
        border: none;
      }
    }
    input.tagInput {
      border: none;
      outline: none;
      &:focus {
        outline: none;
        border: none;
      }
      width: fit-content;
    }
    .tag_sec {
      display: flex;
      ul {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          padding: 6px 10px;
          border-radius: 20px;
          transition: all .1s;
          &:hover{
            opacity: .8;
          }
        }
      }
    }
  }
  .quill {
    .ql-container {
      height: 60dvh;
    }
  }
}
