@use '../theme/theme' as *;
ul.articleWrap {
  display: flex;
  &.homeArticle {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    @include mobile {
      gap: 20px 0;
    }
  }
  &.blogArticle {
    flex-direction: column;
    margin-top: 30px;
    @include mobile {
      // gap: 30px 0;
    }
  }
}
ul.articleWrap > li {
  &:is(.homeArticle > li) {
    @include tablet {
      width: calc((100% - 20px) / 2);
    }
    @include mobile {
      width: 100%;
    }
    &:not(:has(.top_section img)) {
      flex-direction: column-reverse;
      @include mobile {
        .top_section {
          &::after {
            padding-bottom: 10%;
          }
        }
      }
    }
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    background-color: oklch(var(--b2));
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 30px 0 #00000023;
    }
    div {
      width: 100%;
      &.top_section {
        transition: all 0.2s;
        position: relative;
        &::after {
          display: block;
          content: '';
          padding-bottom: 70%;
        }
        div {
          display: block;
          width: 100%;
          height: 100%;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &.middle_section {
        // position: absolute;

        bottom: 0;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        transition: all 0.2s;
        p.title {
          font-size: 14px;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
        p.content {
          font-size: 13px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          line-height: 1.5;
          /*        height: 4.8em;*/
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        p.info {
          // border-top: 1px dashed;
          font-size: 13px;
          display: flex;
          justify-content: space-between;
          span.infoUser + span {
            display: none;
          }
        }
        p.tags {
          margin-top: 16px;
          flex-wrap: wrap;
          display: flex;
          align-items: center;
          gap: 6px;
          span {
            border-radius: 15px;
            display: flex;
            font-size: 10px;
            font-weight: 600;
            padding: 4px 10px;
            background-color: oklch(var(--a));
            color: oklch(var(--ac));
            &.moreTags {
              background-color: oklch(var(--ac));
              color: oklch(var(--a));
            }
          }
        }
      }
      &.icon_section {
        opacity: 0;
        transition: all 0.4s;
        & > * {
          background-color: oklch(var(--p));
          cursor: pointer;

          &:hover {
            // filter: brightness(0.96);
            background-color: oklch(var(--pc));
            svg {
              color: oklch(var(--p));
            }
          }
        }
        & > *:nth-child(1) {
          transition: transform 0.4s;
          transition-delay: 0s;
        }
        & > *:nth-child(2) {
          transition: transform 0.4s;
          transition-delay: 0.09s;
        }
        & > *:nth-child(3) {
          transition: transform 0.4s;
          transition-delay: 0.16s;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        & > p {
          &:has(span) {
            position: relative;
            span {
              position: absolute;
              font-size: 9px;
              background-color: oklch(var(--bc));
              color: oklch(var(--b1));
              top: -2px;
              right: -2px;
              
              // width: 17px;
              font-weight: bold;
              padding: 3px;
              height: 15px;
              border-radius: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.1s;
            }
          }
          width: 40px;
          height: 40px;
          display: flex;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          // background-color: oklch(var(--b1));
          // box-shadow: 0 0 10px #00000018;

          svg {
            transition: all 0.1s;
            width: 20px;
            height: 20px;
            color: oklch(var(--pc));
          }
        }
      }
    }
    &:hover > .icon_section {
      opacity: 1;
      & > * {
        transform: translateY(-15px);
      }
    }
  }
  &:is(.blogArticle > *) {
    cursor: pointer;
    padding: 40px 0;
    // margin: 20px 0 0;
    border-bottom: 1px solid oklch(var(--b3));
    .icon_section {
      display: none;
    }
    &:not(:has(.top_section img)) {
      .top_section {
        display: none;
        & ~ .middle_section {
          padding: 0;
        }
      }
    }
    div {
      width: 100%;
      &.top_section {
        position: relative;
        &::after {
          display: block;
          content: '';
          padding-bottom: 40%;
        }
        div {
          display: block;
          width: 100%;
          height: 100%;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
      }
      &.middle_section {
        bottom: 0;
        padding: 30px 0px 0;
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        transition: all 0.2s;
        p.title {
          font-size: 20px;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
        }
        p.content {
          font-size: 14px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          line-height: 1.5;
          /*        height: 4.8em;*/
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        p.info {
          margin-top: 12px;
          .infoUser {
            display: none;
          }
          font-size: 13px;
          display: flex;
          justify-content: space-between;
        }
        p.tags {
          margin-top: 10px;
          flex-wrap: wrap;
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            border-radius: 15px;
            display: flex;
            font-size: 13px;
            font-weight: 600;
            padding: 7px 15px;
            background-color: oklch(var(--a));
            color: oklch(var(--ac));
            &.moreTags {
              background-color: oklch(var(--ac));
              color: oklch(var(--a));
            }
          }
        }
      }
    }
  }
}
