#title {
  --padding-1: 25px;
  border-bottom: 1px solid oklch(var(--bc));
  width: 100%;
  // padding-top: 5%;
  padding-bottom: 15px;
  display: flex;
  h2 {
    font-size: 20px;
    position: relative;
    color: oklch(var(--bc));
    font-weight: 400;
    &::after {
      content: '';
      display: block;
      background-color: oklch(var(--bc));
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -15px;
      transform: translateY(50%);
    }
  }
}
