@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  width: 100%;
  position: sticky;
  left: 0%;
  top: 0%;
  padding: 10px;
}
header > div {
  border-radius: 10px;
}

main#wrap {
  min-height: 1000px;
}

#fixedWrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#sideMenuWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

#loadingWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
}
#loadingWrapper span {
  font-size: 7rem;
}